{% extends 'base.html' %} {% include 'header.html' %}
{% block title %} Food {% endblock %}
{% block body %}

{% block css %}
<style>
    .active{
        background-color: rgb(89, 118, 248);
        border-radius: 20px;
    }
</style>
{% endblock %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:-25px;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/food">Food</a>
            <a class="nav-item nav-link" href="/drink">Drink</a>
            {% if current_user.is_authenticated %}
            {%if current_user.role == 1 %}
            <a class="nav-item nav-link" href="/user">User <span class="sr-only">(current)</span></a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <a href="/logout" class="nav-item nav-link float-right">Logout</a>
</nav>
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>
                    Manage <b>Food </b>
                    <button type="button" class="btn btn-success float-right" data-toggle="modal"
                        data-target="#modalAdd">
                        Add New Food
                    </button>
                </h2>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>

                    {{message}}
                </div>

                {% endfor %} {% endif %} {% endwith %}

                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Category</th>
                    </tr>

                    {% for row in data %}
                    <tr>
                        <td>{{row.foodid}}</td>
                        <td>{{row.foodname}}</td>
                        <td>{{row.price}}</td>
                        <td>{{row.description}}</td>
                        <td> <img src="static/images/{{row.image}}.jpeg" alt="" width="50px;" height="50px"> </td>
                        <td>{{row.category}}</td>


                        <td>
                            <a class="btn btn-warning btn-xs" data-toggle="modal"
                                data-target="#modalEdit{{row.foodid}}">Edit</a>
                            <a href="deleteFood/{{row.foodid}}" class="btn btn-danger btn-xs"
                                onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>

                    <!-- Modal Edit Employee-->
                    <div id="modalEdit{{row.foodid}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>

                                <div class="modal-body">
                                    <form action="{{url_for('updateFood')}}" method="POST"
                                        enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Food Name:</label>
                                            <input type="hidden" name="id" value="{{row.foodid}}" />

                                            <input type="text" class="form-control" name="foodname"
                                                value="{{row.foodname}}" />
                                        </div>

                                        <div class="form-group">
                                            <label>Price:</label>

                                            <input type="number" class="form-control" name="price"
                                                value="{{row.price}}" />
                                        </div>

                                        <div class="form-group">
                                            <label>Description:</label>

                                            <input type="text" class="form-control" name="description"
                                                value="{{row.description}}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Image:</label>
                                            <img src="static/images/{{row.image}}.jpeg" alt="" width="50px;"
                                                height="50px">
                                            <input type="file" name="file">
                                        </div>
                                        <div class="form-group">
                                            <input hidden type="text" class="form-control" name="category"
                                                value="{{row.category}}" />
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">
                                                Update
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>

            <!-- Modal Add Food-->

            <div id="modalAdd" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Food</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insertFood')}}" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Food Name:</label>
                                    <input type="text" class="form-control" name="foodname" required="1" />
                                </div>

                                <div class="form-group">
                                    <label>Price:</label>
                                    <input type="number" class="form-control" name="price" required="1" />
                                </div>

                                <div class="form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" name="description" required="1" />
                                </div>
                                <div class="form-group">
                                    <label>Image:</label>
                                    <input type="file" name="file" required="1" />
                                </div>
                                <div class="form-group">
                                    <input hidden type="text" class="form-control" name="category" value="food" />
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">
                                        Add Food
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}