{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} User {% endblock %}
{% block body %}

{% block css %}
<style>
    .nav-item{
        border-radius: 20px;
        width: 80px;
        text-align: center;
        margin-right: 17px;
    }
    .active{
        background-color: rgb(89, 118, 248);
    }
    .nav-item:not(.active):hover{
        background-color: rgb(160, 160, 160);
        
        transition: ease-in 0.3s;
    }
</style>
{% endblock %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:-25px;">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/food">Food</a>
            <a class="nav-item nav-link" href="/drink">Drink</a>
            {% if current_user.is_authenticated %}
            {%if current_user.role == 1 %}
            <a class="nav-item nav-link active" href="/user">User <span class="sr-only">(current)</span></a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <a href="/logout" class="nav-item nav-link float-right">Logout</a>
</nav>
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>
                    Manage <b>User </b>
                    <button type="button" class="btn btn-success float-right" data-toggle="modal"
                        data-target="#modalAdd">
                        Add New User
                    </button>
                </h2>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>

                    {{message}}
                </div>

                {% endfor %} {% endif %} {% endwith %}

                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>

                    {% for row in data %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.username}}</td>
                        <td>{{row.password}}</td>
                        <td>{{row.role}}</td>

                        <td>
                            <a class="btn btn-warning btn-xs" data-toggle="modal"
                                data-target="#modalEdit{{row.id}}">Edit</a>
                            <a href="deleteUser/{{row.id}}" class="btn btn-danger btn-xs"
                                onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>

                    <!-- Modal Edit Employee-->
                    <div id="modalEdit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>

                                <div class="modal-body">
                                    <form action="{{url_for('updateUser')}}" method="POST">
                                        <div class="form-group">
                                            <label>Username:</label>
                                            <input type="hidden" name="id" value="{{row.id}}" />

                                            <input type="text" class="form-control" name="username"
                                                value="{{row.username}}" />
                                        </div>

                                        <div class="form-group">
                                            <label>Password:</label>

                                            <input type="text" class="form-control" name="password"
                                                value="{{row.password}}" />
                                        </div>

                                        <div class="form-group">
                                            <label>Role:</label>

                                            <input type="text" class="form-control" name="role" value="{{row.role}}" />
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">
                                                Update
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>

            <!-- Modal Add Employee-->

            <div id="modalAdd" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Employee</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insertUser')}}" method="POST">
                                <div class="form-group">
                                    <label>Username:</label>
                                    <input type="text" class="form-control" name="username" required="1" />
                                </div>

                                <div class="form-group">
                                    <label>Password:</label>
                                    <input type="text" class="form-control" name="password" required="1" />
                                </div>

                                <div class="form-group">
                                    <label>Role:</label>
                                    <input type="number" class="form-control" name="role" required="1" />
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">
                                        Add Employee
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}